
#comments {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #E7E7E7;
    padding-bottom: 15px;
}

.comment img {
    width: 70px;
    height: 70px;
}

.comment span {
    display: flex;
    align-items: center;
    gap: 30px;
}

.new-comment {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.new-comment textarea {
    height: 60px;
    font-size: 15px;
    padding: 15px;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    resize: none;
} 

.new-comment button {
    background-color: #00A2DC;
    color: #fff;
    border: none;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    width: 125px;
}

.block-comment {
    background-color: #FFF3CD;
    color: #856404;
    height: 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.block-comment a{
    color: #00A2DC;
}