@import url('vendor/reset.css');
@import url('components/header.css');
@import url('components/main.css');;

* {
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    box-sizing: border-box;
    background-color: #F8F9FA;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 50px;
}

textarea:focus, input:focus{
    outline: none;
}