
#main {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#main h1 {
    font-size: 30px;
    font-weight: 500;
}

#main h2 {
    font-size: 25px;
}

#main p {
    font-size: 16px;
    line-height: 24px;
}

.main-info {
    background-color: #fff;
    width: 750px;
    padding: 30px 50px;
}

.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-title p {
    margin: 20px 0 60px;
}

.main-info h2 {
    margin: 40px 0;
}

/* .main-info img {
    width: 700px;
} */


.blog {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.blog span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.blog span p {
    margin: 0;
}

.blog img {
    width: 20px;
}